@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

body {
	margin: 0;
	background-color: var(--catppuccin-color-base);
	color: var(--catppuccin-color-text);
	font-family: "PingFang SC", "Microsoft YaHei", "Noto Sans SC", system-ui, -apple-system, "Segoe UI", sans-serif;
	-webkit-font-smoothing: antialiased;
}
